/*  common styles   */
@font-face {
  font-family: Roboto;
  font-weight: 100;
  src: url("../fonts/Roboto-Thin.ttf"); }
@font-face {
  font-family: Roboto;
  font-weight: 300;
  src: url("../fonts/Roboto-Light.ttf"); }
@font-face {
  font-family: Roboto;
  font-weight: 900;
  src: url("../fonts/Roboto-Bold.ttf"); }
@keyframes popup--show {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes popup--hide {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
body {
  /*  GENERAL FONT */
  font-family: "Roboto", "Myriad Pro", sans-serif;
  font-weight: lighter;
  font-size: 16px;
  line-height: 1;
  color: #fff; }
  body p, body h6, body a {
    font-size: 1.089em;
    font-weight: 300;
    line-height: 1.647;
    letter-spacing: -0.005em;
    margin: 0; }
  body a {
    color: #fff; }
    body a, body a:visited, body a:focus {
      text-decoration: none; }
  body h1 {
    font-size: 4.3em;
    font-weight: 100;
    margin: 0;
    letter-spacing: -0.024Em;
    line-height: 1.19;
    margin-left: 0.79155%; }
  body h2 {
    font-size: 3.6em;
    letter-spacing: -0.017em;
    font-weight: 100;
    margin: 0; }
  body input:not([type=submit]), body textarea,
  body button, body input[type=submit] {
    transition-duration: 0.1s;
    transition-timing-function: linear; }
  body button:not(.close), body input[type=submit] {
    transition-property: background-color, color; }
    body button:not(.close):hover, body input[type=submit]:hover {
      background-color: #e73d34 !important;
      color: #fff !important; }
  body input:not([type=submit]), body textarea {
    transition-property: outline-color;
    outline: 2px solid transparent; }
    body input:not([type=submit]):hover, body input:not([type=submit]):focus, body textarea:hover, body textarea:focus {
      outline-color: rgba(0, 0, 0, 0.5) !important; }

.clr::after {
  content: "";
  clear: both;
  display: table;
  margin: 0;
  padding: 0; }

.fleft {
  float: left; }

.fright {
  float: right; }

.hidden {
  opacity: 0; }

.visible {
  opacity: 1; }

.underline:before {
  content: "";
  display: block;
  width: 100%;
  position: absolute;
  bottom: 0; }
.underline--right:before {
  left: 6.22255%; }
.underline--left:before {
  left: -6.22255%; }

.sect, [class^='sect--'],
[class*=' sect--'] {
  padding: 64px 6.22255% 0;
  box-sizing: border-box; }
  .sect__title {
    text-align: center;
    margin: 0 0 42px; }
  .sect--no-pad {
    padding-left: 0;
    padding-right: 0; }

/*  LIKE GRID   */
.list, [class^='list--'],
[class*=' list--'] {
  width: 100%; }
  .list > *, [class^='list--'] > *,
  [class*=' list--'] > * {
    float: left;
    text-align: center; }
  .list--l > * {
    text-align: left; }
  .list::after, [class^='list--']::after,
  [class*=' list--']::after {
    content: "";
    clear: both;
    display: table;
    margin: 0;
    padding: 0; }

.list__item--1 {
  width: 8.33333%; }
.list__item--offset-1 {
  margin-left: 8.33333%; }
.list__item--1--offset-1 {
  width: 8.33333%;
  margin-left: 8.33333%; }
.list__item--2--offset-1 {
  width: 16.66667%;
  margin-left: 8.33333%; }
.list__item--3--offset-1 {
  width: 25%;
  margin-left: 8.33333%; }
.list__item--4--offset-1 {
  width: 33.33333%;
  margin-left: 8.33333%; }
.list__item--5--offset-1 {
  width: 41.66667%;
  margin-left: 8.33333%; }
.list__item--6--offset-1 {
  width: 50%;
  margin-left: 8.33333%; }
.list__item--7--offset-1 {
  width: 58.33333%;
  margin-left: 8.33333%; }
.list__item--8--offset-1 {
  width: 66.66667%;
  margin-left: 8.33333%; }
.list__item--9--offset-1 {
  width: 75%;
  margin-left: 8.33333%; }
.list__item--10--offset-1 {
  width: 83.33333%;
  margin-left: 8.33333%; }
.list__item--11--offset-1 {
  width: 91.66667%;
  margin-left: 8.33333%; }
.list__item--2 {
  width: 16.66667%; }
.list__item--offset-2 {
  margin-left: 16.66667%; }
.list__item--1--offset-2 {
  width: 8.33333%;
  margin-left: 16.66667%; }
.list__item--2--offset-2 {
  width: 16.66667%;
  margin-left: 16.66667%; }
.list__item--3--offset-2 {
  width: 25%;
  margin-left: 16.66667%; }
.list__item--4--offset-2 {
  width: 33.33333%;
  margin-left: 16.66667%; }
.list__item--5--offset-2 {
  width: 41.66667%;
  margin-left: 16.66667%; }
.list__item--6--offset-2 {
  width: 50%;
  margin-left: 16.66667%; }
.list__item--7--offset-2 {
  width: 58.33333%;
  margin-left: 16.66667%; }
.list__item--8--offset-2 {
  width: 66.66667%;
  margin-left: 16.66667%; }
.list__item--9--offset-2 {
  width: 75%;
  margin-left: 16.66667%; }
.list__item--10--offset-2 {
  width: 83.33333%;
  margin-left: 16.66667%; }
.list__item--11--offset-2 {
  width: 91.66667%;
  margin-left: 16.66667%; }
.list__item--3 {
  width: 25%; }
.list__item--offset-3 {
  margin-left: 25%; }
.list__item--1--offset-3 {
  width: 8.33333%;
  margin-left: 25%; }
.list__item--2--offset-3 {
  width: 16.66667%;
  margin-left: 25%; }
.list__item--3--offset-3 {
  width: 25%;
  margin-left: 25%; }
.list__item--4--offset-3 {
  width: 33.33333%;
  margin-left: 25%; }
.list__item--5--offset-3 {
  width: 41.66667%;
  margin-left: 25%; }
.list__item--6--offset-3 {
  width: 50%;
  margin-left: 25%; }
.list__item--7--offset-3 {
  width: 58.33333%;
  margin-left: 25%; }
.list__item--8--offset-3 {
  width: 66.66667%;
  margin-left: 25%; }
.list__item--9--offset-3 {
  width: 75%;
  margin-left: 25%; }
.list__item--10--offset-3 {
  width: 83.33333%;
  margin-left: 25%; }
.list__item--11--offset-3 {
  width: 91.66667%;
  margin-left: 25%; }
.list__item--4 {
  width: 33.33333%; }
.list__item--offset-4 {
  margin-left: 33.33333%; }
.list__item--1--offset-4 {
  width: 8.33333%;
  margin-left: 33.33333%; }
.list__item--2--offset-4 {
  width: 16.66667%;
  margin-left: 33.33333%; }
.list__item--3--offset-4 {
  width: 25%;
  margin-left: 33.33333%; }
.list__item--4--offset-4 {
  width: 33.33333%;
  margin-left: 33.33333%; }
.list__item--5--offset-4 {
  width: 41.66667%;
  margin-left: 33.33333%; }
.list__item--6--offset-4 {
  width: 50%;
  margin-left: 33.33333%; }
.list__item--7--offset-4 {
  width: 58.33333%;
  margin-left: 33.33333%; }
.list__item--8--offset-4 {
  width: 66.66667%;
  margin-left: 33.33333%; }
.list__item--9--offset-4 {
  width: 75%;
  margin-left: 33.33333%; }
.list__item--10--offset-4 {
  width: 83.33333%;
  margin-left: 33.33333%; }
.list__item--11--offset-4 {
  width: 91.66667%;
  margin-left: 33.33333%; }
.list__item--5 {
  width: 41.66667%; }
.list__item--offset-5 {
  margin-left: 41.66667%; }
.list__item--1--offset-5 {
  width: 8.33333%;
  margin-left: 41.66667%; }
.list__item--2--offset-5 {
  width: 16.66667%;
  margin-left: 41.66667%; }
.list__item--3--offset-5 {
  width: 25%;
  margin-left: 41.66667%; }
.list__item--4--offset-5 {
  width: 33.33333%;
  margin-left: 41.66667%; }
.list__item--5--offset-5 {
  width: 41.66667%;
  margin-left: 41.66667%; }
.list__item--6--offset-5 {
  width: 50%;
  margin-left: 41.66667%; }
.list__item--7--offset-5 {
  width: 58.33333%;
  margin-left: 41.66667%; }
.list__item--8--offset-5 {
  width: 66.66667%;
  margin-left: 41.66667%; }
.list__item--9--offset-5 {
  width: 75%;
  margin-left: 41.66667%; }
.list__item--10--offset-5 {
  width: 83.33333%;
  margin-left: 41.66667%; }
.list__item--11--offset-5 {
  width: 91.66667%;
  margin-left: 41.66667%; }
.list__item--6 {
  width: 50%; }
.list__item--offset-6 {
  margin-left: 50%; }
.list__item--1--offset-6 {
  width: 8.33333%;
  margin-left: 50%; }
.list__item--2--offset-6 {
  width: 16.66667%;
  margin-left: 50%; }
.list__item--3--offset-6 {
  width: 25%;
  margin-left: 50%; }
.list__item--4--offset-6 {
  width: 33.33333%;
  margin-left: 50%; }
.list__item--5--offset-6 {
  width: 41.66667%;
  margin-left: 50%; }
.list__item--6--offset-6 {
  width: 50%;
  margin-left: 50%; }
.list__item--7--offset-6 {
  width: 58.33333%;
  margin-left: 50%; }
.list__item--8--offset-6 {
  width: 66.66667%;
  margin-left: 50%; }
.list__item--9--offset-6 {
  width: 75%;
  margin-left: 50%; }
.list__item--10--offset-6 {
  width: 83.33333%;
  margin-left: 50%; }
.list__item--11--offset-6 {
  width: 91.66667%;
  margin-left: 50%; }
.list__item--7 {
  width: 58.33333%; }
.list__item--offset-7 {
  margin-left: 58.33333%; }
.list__item--1--offset-7 {
  width: 8.33333%;
  margin-left: 58.33333%; }
.list__item--2--offset-7 {
  width: 16.66667%;
  margin-left: 58.33333%; }
.list__item--3--offset-7 {
  width: 25%;
  margin-left: 58.33333%; }
.list__item--4--offset-7 {
  width: 33.33333%;
  margin-left: 58.33333%; }
.list__item--5--offset-7 {
  width: 41.66667%;
  margin-left: 58.33333%; }
.list__item--6--offset-7 {
  width: 50%;
  margin-left: 58.33333%; }
.list__item--7--offset-7 {
  width: 58.33333%;
  margin-left: 58.33333%; }
.list__item--8--offset-7 {
  width: 66.66667%;
  margin-left: 58.33333%; }
.list__item--9--offset-7 {
  width: 75%;
  margin-left: 58.33333%; }
.list__item--10--offset-7 {
  width: 83.33333%;
  margin-left: 58.33333%; }
.list__item--11--offset-7 {
  width: 91.66667%;
  margin-left: 58.33333%; }
.list__item--8 {
  width: 66.66667%; }
.list__item--offset-8 {
  margin-left: 66.66667%; }
.list__item--1--offset-8 {
  width: 8.33333%;
  margin-left: 66.66667%; }
.list__item--2--offset-8 {
  width: 16.66667%;
  margin-left: 66.66667%; }
.list__item--3--offset-8 {
  width: 25%;
  margin-left: 66.66667%; }
.list__item--4--offset-8 {
  width: 33.33333%;
  margin-left: 66.66667%; }
.list__item--5--offset-8 {
  width: 41.66667%;
  margin-left: 66.66667%; }
.list__item--6--offset-8 {
  width: 50%;
  margin-left: 66.66667%; }
.list__item--7--offset-8 {
  width: 58.33333%;
  margin-left: 66.66667%; }
.list__item--8--offset-8 {
  width: 66.66667%;
  margin-left: 66.66667%; }
.list__item--9--offset-8 {
  width: 75%;
  margin-left: 66.66667%; }
.list__item--10--offset-8 {
  width: 83.33333%;
  margin-left: 66.66667%; }
.list__item--11--offset-8 {
  width: 91.66667%;
  margin-left: 66.66667%; }
.list__item--9 {
  width: 75%; }
.list__item--offset-9 {
  margin-left: 75%; }
.list__item--1--offset-9 {
  width: 8.33333%;
  margin-left: 75%; }
.list__item--2--offset-9 {
  width: 16.66667%;
  margin-left: 75%; }
.list__item--3--offset-9 {
  width: 25%;
  margin-left: 75%; }
.list__item--4--offset-9 {
  width: 33.33333%;
  margin-left: 75%; }
.list__item--5--offset-9 {
  width: 41.66667%;
  margin-left: 75%; }
.list__item--6--offset-9 {
  width: 50%;
  margin-left: 75%; }
.list__item--7--offset-9 {
  width: 58.33333%;
  margin-left: 75%; }
.list__item--8--offset-9 {
  width: 66.66667%;
  margin-left: 75%; }
.list__item--9--offset-9 {
  width: 75%;
  margin-left: 75%; }
.list__item--10--offset-9 {
  width: 83.33333%;
  margin-left: 75%; }
.list__item--11--offset-9 {
  width: 91.66667%;
  margin-left: 75%; }
.list__item--10 {
  width: 83.33333%; }
.list__item--offset-10 {
  margin-left: 83.33333%; }
.list__item--1--offset-10 {
  width: 8.33333%;
  margin-left: 83.33333%; }
.list__item--2--offset-10 {
  width: 16.66667%;
  margin-left: 83.33333%; }
.list__item--3--offset-10 {
  width: 25%;
  margin-left: 83.33333%; }
.list__item--4--offset-10 {
  width: 33.33333%;
  margin-left: 83.33333%; }
.list__item--5--offset-10 {
  width: 41.66667%;
  margin-left: 83.33333%; }
.list__item--6--offset-10 {
  width: 50%;
  margin-left: 83.33333%; }
.list__item--7--offset-10 {
  width: 58.33333%;
  margin-left: 83.33333%; }
.list__item--8--offset-10 {
  width: 66.66667%;
  margin-left: 83.33333%; }
.list__item--9--offset-10 {
  width: 75%;
  margin-left: 83.33333%; }
.list__item--10--offset-10 {
  width: 83.33333%;
  margin-left: 83.33333%; }
.list__item--11--offset-10 {
  width: 91.66667%;
  margin-left: 83.33333%; }
.list__item--11 {
  width: 91.66667%; }
.list__item--offset-11 {
  margin-left: 91.66667%; }
.list__item--1--offset-11 {
  width: 8.33333%;
  margin-left: 91.66667%; }
.list__item--2--offset-11 {
  width: 16.66667%;
  margin-left: 91.66667%; }
.list__item--3--offset-11 {
  width: 25%;
  margin-left: 91.66667%; }
.list__item--4--offset-11 {
  width: 33.33333%;
  margin-left: 91.66667%; }
.list__item--5--offset-11 {
  width: 41.66667%;
  margin-left: 91.66667%; }
.list__item--6--offset-11 {
  width: 50%;
  margin-left: 91.66667%; }
.list__item--7--offset-11 {
  width: 58.33333%;
  margin-left: 91.66667%; }
.list__item--8--offset-11 {
  width: 66.66667%;
  margin-left: 91.66667%; }
.list__item--9--offset-11 {
  width: 75%;
  margin-left: 91.66667%; }
.list__item--10--offset-11 {
  width: 83.33333%;
  margin-left: 91.66667%; }
.list__item--11--offset-11 {
  width: 91.66667%;
  margin-left: 91.66667%; }
.list__item--12 {
  width: 100%; }
