@charset "UTF-8";
/*  common styles   */
@font-face {
  font-family: Roboto;
  font-weight: 100;
  src: url("../fonts/Roboto-Thin.ttf"); }
@font-face {
  font-family: Roboto;
  font-weight: 300;
  src: url("../fonts/Roboto-Light.ttf"); }
@font-face {
  font-family: Roboto;
  font-weight: 900;
  src: url("../fonts/Roboto-Bold.ttf"); }
@keyframes popup_show {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes popup_hide {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
body {
  max-width: 1366px;
  min-width: 160px;
  margin: 0 auto;
  /*  GENERAL FONT */
  font-family: "Roboto", "Myriad Pro", sans-serif;
  font-weight: lighter;
  font-size: 16px;
  line-height: 1;
  color: #fff; }

p, h6, a {
  font-size: 1.089em;
  font-weight: 300;
  line-height: 1.647;
  letter-spacing: -0.005em;
  margin: 0; }

a {
  color: #fff; }
  a, a:visited, a:focus {
    text-decoration: none; }

h1 {
  font-size: 4.3em;
  font-weight: 100;
  margin: 0;
  letter-spacing: -0.024Em;
  line-height: 1.19;
  margin-left: 0.79155%; }

h2 {
  font-size: 3.6em;
  letter-spacing: -0.017em;
  font-weight: 100;
  margin: 0; }

.btn, .inp {
  transition-duration: 0.1s;
  transition-timing-function: linear; }

.btn {
  transition-property: background-color, color;
  height: 60px;
  border-style: solid;
  font-weight: 300; }
  .btn_round {
    border-radius: 60px; }
  .btn:hover {
    background-color: #e73d34 !important;
    color: #fff !important; }

.inp {
  transition-property: outline-color;
  outline: 2px solid transparent; }
  .inp:hover, .inp:focus {
    outline-color: rgba(0, 0, 0, 0.5) !important; }

.link {
  border-bottom: 1px solid transparent; }
  .link_h:hover {
    border-bottom-color: inherit; }
  .link_h_red:hover {
    border-bottom-color: #622427; }

.clr::after {
  content: "";
  clear: both;
  display: table;
  margin: 0;
  padding: 0; }

.fleft {
  float: left; }

.fright {
  float: right; }

.hidden {
  opacity: 0; }

.visible {
  opacity: 1; }

.underline:before {
  content: "";
  display: block;
  width: 100%;
  position: absolute;
  bottom: 0; }
.underline_right:before {
  left: 6.95461%; }
.underline_left:before {
  left: -6.95461%; }

.sect {
  padding: 64px 6.95461%;
  box-sizing: border-box;
  max-width: 1200px;
  margin: 0 auto; }
  .sect__title {
    text-align: center;
    margin: 0 0 42px; }
  .sect_no-pad {
    padding-left: 0;
    padding-right: 0; }

/*  LIKE GRID   */
.list {
  width: 100%; }
  .list > * {
    float: left;
    text-align: center; }
  .list_al > * {
    text-align: left; }
  .list::after {
    content: "";
    clear: both;
    display: table;
    margin: 0;
    padding: 0; }

.list__item_1 {
  width: 8.33333%; }
.list__item_offset-1 {
  margin-left: 8.33333%; }
.list__item_1_offset-1 {
  width: 8.33333%;
  margin-left: 8.33333%; }
.list__item_2_offset-1 {
  width: 16.66667%;
  margin-left: 8.33333%; }
.list__item_3_offset-1 {
  width: 25%;
  margin-left: 8.33333%; }
.list__item_4_offset-1 {
  width: 33.33333%;
  margin-left: 8.33333%; }
.list__item_5_offset-1 {
  width: 41.66667%;
  margin-left: 8.33333%; }
.list__item_6_offset-1 {
  width: 50%;
  margin-left: 8.33333%; }
.list__item_7_offset-1 {
  width: 58.33333%;
  margin-left: 8.33333%; }
.list__item_8_offset-1 {
  width: 66.66667%;
  margin-left: 8.33333%; }
.list__item_9_offset-1 {
  width: 75%;
  margin-left: 8.33333%; }
.list__item_10_offset-1 {
  width: 83.33333%;
  margin-left: 8.33333%; }
.list__item_11_offset-1 {
  width: 91.66667%;
  margin-left: 8.33333%; }
.list__item_2 {
  width: 16.66667%; }
.list__item_offset-2 {
  margin-left: 16.66667%; }
.list__item_1_offset-2 {
  width: 8.33333%;
  margin-left: 16.66667%; }
.list__item_2_offset-2 {
  width: 16.66667%;
  margin-left: 16.66667%; }
.list__item_3_offset-2 {
  width: 25%;
  margin-left: 16.66667%; }
.list__item_4_offset-2 {
  width: 33.33333%;
  margin-left: 16.66667%; }
.list__item_5_offset-2 {
  width: 41.66667%;
  margin-left: 16.66667%; }
.list__item_6_offset-2 {
  width: 50%;
  margin-left: 16.66667%; }
.list__item_7_offset-2 {
  width: 58.33333%;
  margin-left: 16.66667%; }
.list__item_8_offset-2 {
  width: 66.66667%;
  margin-left: 16.66667%; }
.list__item_9_offset-2 {
  width: 75%;
  margin-left: 16.66667%; }
.list__item_10_offset-2 {
  width: 83.33333%;
  margin-left: 16.66667%; }
.list__item_11_offset-2 {
  width: 91.66667%;
  margin-left: 16.66667%; }
.list__item_3 {
  width: 25%; }
.list__item_offset-3 {
  margin-left: 25%; }
.list__item_1_offset-3 {
  width: 8.33333%;
  margin-left: 25%; }
.list__item_2_offset-3 {
  width: 16.66667%;
  margin-left: 25%; }
.list__item_3_offset-3 {
  width: 25%;
  margin-left: 25%; }
.list__item_4_offset-3 {
  width: 33.33333%;
  margin-left: 25%; }
.list__item_5_offset-3 {
  width: 41.66667%;
  margin-left: 25%; }
.list__item_6_offset-3 {
  width: 50%;
  margin-left: 25%; }
.list__item_7_offset-3 {
  width: 58.33333%;
  margin-left: 25%; }
.list__item_8_offset-3 {
  width: 66.66667%;
  margin-left: 25%; }
.list__item_9_offset-3 {
  width: 75%;
  margin-left: 25%; }
.list__item_10_offset-3 {
  width: 83.33333%;
  margin-left: 25%; }
.list__item_11_offset-3 {
  width: 91.66667%;
  margin-left: 25%; }
.list__item_4 {
  width: 33.33333%; }
.list__item_offset-4 {
  margin-left: 33.33333%; }
.list__item_1_offset-4 {
  width: 8.33333%;
  margin-left: 33.33333%; }
.list__item_2_offset-4 {
  width: 16.66667%;
  margin-left: 33.33333%; }
.list__item_3_offset-4 {
  width: 25%;
  margin-left: 33.33333%; }
.list__item_4_offset-4 {
  width: 33.33333%;
  margin-left: 33.33333%; }
.list__item_5_offset-4 {
  width: 41.66667%;
  margin-left: 33.33333%; }
.list__item_6_offset-4 {
  width: 50%;
  margin-left: 33.33333%; }
.list__item_7_offset-4 {
  width: 58.33333%;
  margin-left: 33.33333%; }
.list__item_8_offset-4 {
  width: 66.66667%;
  margin-left: 33.33333%; }
.list__item_9_offset-4 {
  width: 75%;
  margin-left: 33.33333%; }
.list__item_10_offset-4 {
  width: 83.33333%;
  margin-left: 33.33333%; }
.list__item_11_offset-4 {
  width: 91.66667%;
  margin-left: 33.33333%; }
.list__item_5 {
  width: 41.66667%; }
.list__item_offset-5 {
  margin-left: 41.66667%; }
.list__item_1_offset-5 {
  width: 8.33333%;
  margin-left: 41.66667%; }
.list__item_2_offset-5 {
  width: 16.66667%;
  margin-left: 41.66667%; }
.list__item_3_offset-5 {
  width: 25%;
  margin-left: 41.66667%; }
.list__item_4_offset-5 {
  width: 33.33333%;
  margin-left: 41.66667%; }
.list__item_5_offset-5 {
  width: 41.66667%;
  margin-left: 41.66667%; }
.list__item_6_offset-5 {
  width: 50%;
  margin-left: 41.66667%; }
.list__item_7_offset-5 {
  width: 58.33333%;
  margin-left: 41.66667%; }
.list__item_8_offset-5 {
  width: 66.66667%;
  margin-left: 41.66667%; }
.list__item_9_offset-5 {
  width: 75%;
  margin-left: 41.66667%; }
.list__item_10_offset-5 {
  width: 83.33333%;
  margin-left: 41.66667%; }
.list__item_11_offset-5 {
  width: 91.66667%;
  margin-left: 41.66667%; }
.list__item_6 {
  width: 50%; }
.list__item_offset-6 {
  margin-left: 50%; }
.list__item_1_offset-6 {
  width: 8.33333%;
  margin-left: 50%; }
.list__item_2_offset-6 {
  width: 16.66667%;
  margin-left: 50%; }
.list__item_3_offset-6 {
  width: 25%;
  margin-left: 50%; }
.list__item_4_offset-6 {
  width: 33.33333%;
  margin-left: 50%; }
.list__item_5_offset-6 {
  width: 41.66667%;
  margin-left: 50%; }
.list__item_6_offset-6 {
  width: 50%;
  margin-left: 50%; }
.list__item_7_offset-6 {
  width: 58.33333%;
  margin-left: 50%; }
.list__item_8_offset-6 {
  width: 66.66667%;
  margin-left: 50%; }
.list__item_9_offset-6 {
  width: 75%;
  margin-left: 50%; }
.list__item_10_offset-6 {
  width: 83.33333%;
  margin-left: 50%; }
.list__item_11_offset-6 {
  width: 91.66667%;
  margin-left: 50%; }
.list__item_7 {
  width: 58.33333%; }
.list__item_offset-7 {
  margin-left: 58.33333%; }
.list__item_1_offset-7 {
  width: 8.33333%;
  margin-left: 58.33333%; }
.list__item_2_offset-7 {
  width: 16.66667%;
  margin-left: 58.33333%; }
.list__item_3_offset-7 {
  width: 25%;
  margin-left: 58.33333%; }
.list__item_4_offset-7 {
  width: 33.33333%;
  margin-left: 58.33333%; }
.list__item_5_offset-7 {
  width: 41.66667%;
  margin-left: 58.33333%; }
.list__item_6_offset-7 {
  width: 50%;
  margin-left: 58.33333%; }
.list__item_7_offset-7 {
  width: 58.33333%;
  margin-left: 58.33333%; }
.list__item_8_offset-7 {
  width: 66.66667%;
  margin-left: 58.33333%; }
.list__item_9_offset-7 {
  width: 75%;
  margin-left: 58.33333%; }
.list__item_10_offset-7 {
  width: 83.33333%;
  margin-left: 58.33333%; }
.list__item_11_offset-7 {
  width: 91.66667%;
  margin-left: 58.33333%; }
.list__item_8 {
  width: 66.66667%; }
.list__item_offset-8 {
  margin-left: 66.66667%; }
.list__item_1_offset-8 {
  width: 8.33333%;
  margin-left: 66.66667%; }
.list__item_2_offset-8 {
  width: 16.66667%;
  margin-left: 66.66667%; }
.list__item_3_offset-8 {
  width: 25%;
  margin-left: 66.66667%; }
.list__item_4_offset-8 {
  width: 33.33333%;
  margin-left: 66.66667%; }
.list__item_5_offset-8 {
  width: 41.66667%;
  margin-left: 66.66667%; }
.list__item_6_offset-8 {
  width: 50%;
  margin-left: 66.66667%; }
.list__item_7_offset-8 {
  width: 58.33333%;
  margin-left: 66.66667%; }
.list__item_8_offset-8 {
  width: 66.66667%;
  margin-left: 66.66667%; }
.list__item_9_offset-8 {
  width: 75%;
  margin-left: 66.66667%; }
.list__item_10_offset-8 {
  width: 83.33333%;
  margin-left: 66.66667%; }
.list__item_11_offset-8 {
  width: 91.66667%;
  margin-left: 66.66667%; }
.list__item_9 {
  width: 75%; }
.list__item_offset-9 {
  margin-left: 75%; }
.list__item_1_offset-9 {
  width: 8.33333%;
  margin-left: 75%; }
.list__item_2_offset-9 {
  width: 16.66667%;
  margin-left: 75%; }
.list__item_3_offset-9 {
  width: 25%;
  margin-left: 75%; }
.list__item_4_offset-9 {
  width: 33.33333%;
  margin-left: 75%; }
.list__item_5_offset-9 {
  width: 41.66667%;
  margin-left: 75%; }
.list__item_6_offset-9 {
  width: 50%;
  margin-left: 75%; }
.list__item_7_offset-9 {
  width: 58.33333%;
  margin-left: 75%; }
.list__item_8_offset-9 {
  width: 66.66667%;
  margin-left: 75%; }
.list__item_9_offset-9 {
  width: 75%;
  margin-left: 75%; }
.list__item_10_offset-9 {
  width: 83.33333%;
  margin-left: 75%; }
.list__item_11_offset-9 {
  width: 91.66667%;
  margin-left: 75%; }
.list__item_10 {
  width: 83.33333%; }
.list__item_offset-10 {
  margin-left: 83.33333%; }
.list__item_1_offset-10 {
  width: 8.33333%;
  margin-left: 83.33333%; }
.list__item_2_offset-10 {
  width: 16.66667%;
  margin-left: 83.33333%; }
.list__item_3_offset-10 {
  width: 25%;
  margin-left: 83.33333%; }
.list__item_4_offset-10 {
  width: 33.33333%;
  margin-left: 83.33333%; }
.list__item_5_offset-10 {
  width: 41.66667%;
  margin-left: 83.33333%; }
.list__item_6_offset-10 {
  width: 50%;
  margin-left: 83.33333%; }
.list__item_7_offset-10 {
  width: 58.33333%;
  margin-left: 83.33333%; }
.list__item_8_offset-10 {
  width: 66.66667%;
  margin-left: 83.33333%; }
.list__item_9_offset-10 {
  width: 75%;
  margin-left: 83.33333%; }
.list__item_10_offset-10 {
  width: 83.33333%;
  margin-left: 83.33333%; }
.list__item_11_offset-10 {
  width: 91.66667%;
  margin-left: 83.33333%; }
.list__item_11 {
  width: 91.66667%; }
.list__item_offset-11 {
  margin-left: 91.66667%; }
.list__item_1_offset-11 {
  width: 8.33333%;
  margin-left: 91.66667%; }
.list__item_2_offset-11 {
  width: 16.66667%;
  margin-left: 91.66667%; }
.list__item_3_offset-11 {
  width: 25%;
  margin-left: 91.66667%; }
.list__item_4_offset-11 {
  width: 33.33333%;
  margin-left: 91.66667%; }
.list__item_5_offset-11 {
  width: 41.66667%;
  margin-left: 91.66667%; }
.list__item_6_offset-11 {
  width: 50%;
  margin-left: 91.66667%; }
.list__item_7_offset-11 {
  width: 58.33333%;
  margin-left: 91.66667%; }
.list__item_8_offset-11 {
  width: 66.66667%;
  margin-left: 91.66667%; }
.list__item_9_offset-11 {
  width: 75%;
  margin-left: 91.66667%; }
.list__item_10_offset-11 {
  width: 83.33333%;
  margin-left: 91.66667%; }
.list__item_11_offset-11 {
  width: 91.66667%;
  margin-left: 91.66667%; }
.list__item_12 {
  width: 100%; }

.more {
  margin-top: 35px;
  display: inline-block; }
  .more:hover {
    color: rgba(255, 255, 255, 0.8);
    cursor: pointer; }
  .more__text {
    font-size: 0.75em;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    line-height: 1; }
  .more__next {
    background: url("../img/arrow.png") no-repeat center center;
    width: 8px;
    height: 4px;
    display: block;
    margin: 15px auto 0; }

.roll {
  margin: 0;
  padding: 0;
  list-style: none; }
  .roll__item {
    margin-top: 16px;
    font-size: 1.1em;
    line-height: 1.647; }
    .roll__item:before {
      content: "—";
      margin-left: 1%;
      margin-right: 3%; }
