body {
  background-color: #281922;
  padding: 181px 6% 0;
  /*  MARKS BKG  */ }
  body.popup {
    overflow: hidden; }
  body:before {
    width: 100%;
    content: "";
    display: block;
    background: url("../img/bkg.jpg") #c63245 no-repeat;
    /* SHOULD CHECK IF ITS GOOD FOR IE 10 */
    background-blend-mode: darken;
    background-size: cover;
    background-position: center center;
    height: 768px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1; }

.header {
  min-height: 130px;
  padding: 76px 7% 23px;
  box-sizing: border-box;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  transition: background-color, padding 0.3s ease-out; }
  .header__main {
    max-width: 1200px;
    margin: 0 auto; }
  .header.fixed {
    background-color: #1d191d;
    padding-top: 25px; }
  .header__start {
    width: 23%;
    height: 60px;
    box-sizing: border-box;
    background-color: #ffffff;
    margin-left: 7%;
    margin-top: 14px;
    border-radius: 60px;
    border: 0;
    color: #381922;
    font-size: 1.5em;
    font-weight: 300;
    line-height: 1.5; }
  .header__phone {
    margin-top: 28px;
    color: #ffffff;
    font-size: 1.775em;
    font-weight: 300;
    line-height: 1.2; }

.main:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 768px;
  background: rgba(0, 0, 0, 0.5);
  z-index: -1; }

.info {
  padding-top: 91px;
  padding-bottom: 91px;
  text-align: center; }
  .info__title {
    padding: 32px 2%;
    margin: 0; }

.funnel {
  background-color: #524199;
  padding-bottom: 37px; }
  .funnel__title {
    text-align: left;
    margin-bottom: 21px; }
  .funnel__list {
    padding: 22px 0 50px;
    width: 48%; }
  .funnel__item {
    width: 100%;
    height: 104px;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    display: flex;
    justify-content: center;
    flex-direction: column; }
    .funnel__item:last-child {
      border-color: transparent; }
    .funnel__item .title, .funnel__item .desc {
      line-height: 1; }
    .funnel__item .title {
      font-size: 1.063em; }
    .funnel__item .desc {
      color: #949193;
      font-size: 0.813em;
      font-weight: 300;
      margin-top: 14px;
      margin-bottom: 6px; }
    .funnel__item .result {
      display: none;
      text-align: right;
      margin-top: 14px; }
  .funnel__img {
    position: relative;
    width: 52%;
    height: 613px; }

.when {
  background-color: #281922;
  padding-bottom: 8px; }
  .when__item {
    min-height: 220px;
    margin-bottom: 29px;
    padding: 0 3.5%;
    box-sizing: border-box; }
    .when__item__icon {
      width: 64px;
      height: 64px;
      margin-top: 20px;
      margin-bottom: 24px; }

.services {
  background-color: #7f222e;
  padding-bottom: 22px; }
  .services__title {
    margin-bottom: 13px; }
  .services__item {
    padding: 49px 0 44px;
    box-sizing: border-box;
    min-height: 315px;
    position: relative; }
    .services__item.underline:before {
      height: 2px;
      background: #d74148; }
    .services__item__label {
      width: 22.5%;
      margin-right: 1.4%;
      /*  SEEMS WEIRD -> SHOULD BE CHANGED    */ }
      .services__item__label .label__icon {
        width: 102px;
        height: 102px;
        border: 1px solid #fff;
        border-radius: 50%; }
      .services__item__label .label__price {
        display: none; }
        .services__item__label .label__price-wrap {
          background-repeat: no-repeat;
          background-position: center center;
          height: 40px;
          position: relative;
          bottom: 36px; }
          .services__item__label .label__price-wrap.price_1 {
            background-image: url(../img/services/price_with_label_1.png); }
          .services__item__label .label__price-wrap.price_2 {
            background-image: url(../img/services/price_with_label_2.png); }
          .services__item__label .label__price-wrap.price_3 {
            background-image: url(../img/services/price_with_label_3.png); }
    .services__item__text, .services__item__leave_claim {
      margin-top: 20px; }
    .services__item__text {
      text-align: left;
      margin-top: 14px;
      width: 52.4%; }
    .services__item__title {
      text-transform: uppercase;
      letter-spacing: 0.1em;
      margin-bottom: 18px; }
    .services__item__leave_claim {
      background-color: transparent;
      border-width: 1px;
      border-color: #e73d34;
      font-size: 1.119em; }

.contacts,
.cases {
  padding-bottom: 70px; }

.cases {
  background-color: #281922;
  padding-top: 90px; }
  .cases__title {
    position: relative;
    top: -30px;
    margin-bottom: 13px; }
    .cases__title h2 {
      display: inline;
      padding: 0 2.5%;
      background: #281922; }
  .cases__list_wrap {
    border: 3px solid #382631;
    padding-bottom: 24px; }
  .cases__item {
    padding: 0 6%;
    box-sizing: border-box; }
    .cases__item__icon {
      display: inline-block;
      vertical-align: middle;
      max-width: 115px;
      max-height: 115px; }
      .cases__item__icon-wrap {
        margin-left: auto;
        margin-right: auto;
        width: 128px;
        height: 128px;
        border-radius: 50%;
        background: #fafafa;
        box-sizing: border-box;
        margin-bottom: 25px;
        display: flex;
        justify-content: center;
        align-items: center; }
    .cases__item__title {
      font-weight: 300;
      margin-bottom: 7px;
      min-height: 74px; }
      .cases__item__title .name {
        text-transform: uppercase; }
      .cases__item__title .desc {
        color: #b13031;
        letter-spacing: 0.02em;
        font-size: 0.938em; }
    .cases__item__percents {
      margin-left: auto;
      margin-right: auto;
      position: relative;
      border-top-width: 2px;
      border-bottom-width: 2px;
      border-left-width: 0;
      border-right-width: 0;
      border-color: #892531;
      border-style: solid;
      width: 64%;
      min-width: 76px;
      height: 36px;
      color: #fafafa;
      font-size: 1.35em;
      font-weight: 300;
      line-height: 1.6;
      text-transform: uppercase;
      letter-spacing: 0.04em;
      overflow: hidden; }
      .cases__item__percents:after, .cases__item__percents:before {
        content: "";
        width: 36px;
        height: 36px;
        position: absolute;
        box-sizing: border-box;
        border-right: 2px solid #892531;
        border-top: 2px solid #892531;
        margin: 0 -24px; }
      .cases__item__percents:before {
        left: 0;
        transform: rotate(45deg) skew(15deg, 15deg); }
      .cases__item__percents:after {
        right: 0;
        transform: rotate(-135deg) skew(15deg, 15deg); }
    .cases__item__result {
      width: 66%;
      margin: 13px auto; }

.contacts {
  background: url("../img/form-bkg.jpg") #1d191d no-repeat bottom right;
  position: relative; }
  .contacts-wrap.popup {
    background-color: rgba(255, 255, 255, 0.3);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    padding: 100px 6%;
    width: 100%;
    box-sizing: border-box;
    overflow: scroll;
    height: 100%;
    opacity: 1;
    animation: popup_show 1s; }
    .contacts-wrap.popup .close-form {
      display: initial; }
  .contacts__title {
    margin-top: 1px;
    margin-bottom: 45px;
    padding: 0 11%; }
  .contacts .form__input, .contacts .form__msg, .contacts .form__submit {
    border: 0; }
  .contacts .form__input, .contacts .form__msg {
    padding: 10px 17px;
    color: rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    font-size: 1.1em;
    line-height: 1.5; }
  .contacts .form__input {
    margin-bottom: 30px;
    float: left;
    width: 48.54369%;
    height: 50px;
    margin-right: 2.91262%; }
    .contacts .form__input:nth-child(2n) {
      margin-right: 0; }
    .contacts .form__input:invalid, .contacts .form__input.invalid {
      outline: 1px solid #ff1d38; }
      .contacts .form__input:invalid, .contacts .form__input:invalid::placeholder, .contacts .form__input.invalid, .contacts .form__input.invalid::placeholder {
        color: rgba(255, 29, 56, 0.78); }
  .contacts .form__msg {
    width: 100%;
    height: 200px;
    margin-bottom: 27px; }
  .contacts .form__submit {
    background-color: #892531;
    width: 26%;
    text-transform: uppercase;
    font-size: 1.2em;
    font-weight: 100; }

.footer {
  padding-top: 44px;
  padding-bottom: 44px;
  box-sizing: border-box; }
  .footer a {
    font-size: 1.063em; }
  .footer .left-side .phone, .footer .left-side .mail {
    display: block;
    letter-spacing: -0.01em; }
  .footer .address {
    letter-spacing: 0; }
