body {
  background-color: #281922;
  padding: 181px 6.07613% 0;
  /*  MARKS BKG  */ }
  body.popup {
    overflow: hidden; }
  body:before {
    width: 100%;
    content: "";
    display: block;
    background: url("../img/bkg.jpg") #c63245 no-repeat;
    /* SHOULD CHECK IF ITS GOOD FOR IE 10 */
    background-blend-mode: darken;
    background-size: cover;
    background-position: center center;
    height: 768px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1; }
  body > header {
    min-height: 130px;
    padding: 76px 7.17423% 23px;
    box-sizing: border-box;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    transition: background-color 0.1s linear; }
    body > header.fixed {
      background-color: #1d191d;
      position: fixed;
      padding-top: 25px;
      z-index: 99; }
    body > header .start {
      width: 23.077%;
      height: 60px;
      box-sizing: border-box;
      background-color: #ffffff;
      margin-left: 6.92972%;
      margin-top: 14px;
      border-radius: 60px;
      border: 0;
      color: #381922;
      font-size: 1.5em;
      font-weight: 300;
      line-height: 1.5; }
    body > header .phone {
      margin-top: 28px;
      color: #ffffff;
      font-size: 1.775em;
      font-weight: 300;
      line-height: 1.2; }
  body > main:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 768px;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1; }
  body > main .info {
    min-height: 474px;
    padding-top: 91px;
    padding-bottom: 91px;
    text-align: center; }
    body > main .info__title {
      padding: 32px 1.904%;
      margin: 0; }
    body > main .info__more {
      margin-top: 35px;
      display: inline-block; }
      body > main .info__more:hover {
        color: rgba(255, 255, 255, 0.8);
        cursor: pointer; }
      body > main .info__more p {
        font-size: 0.75em;
        letter-spacing: 0.12em;
        text-transform: uppercase;
        line-height: 1; }
      body > main .info__more .icon__next {
        background: url("../img/arrow.png") no-repeat center center;
        width: 8px;
        height: 4px;
        display: block;
        margin: 15px auto 0; }
  body > main .funnel {
    min-height: 791px;
    background-color: #524199;
    padding-bottom: 16px;
    padding-left: 7%;
    padding-right: 7%; }
    body > main .funnel__title {
      text-align: left;
      margin-bottom: 21px; }
    body > main .funnel__list {
      padding: 22px 0 50px;
      width: 48%; }
      body > main .funnel__list__item {
        width: 100%;
        height: 104px;
        box-sizing: border-box;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        display: flex;
        justify-content: center;
        flex-direction: column; }
        body > main .funnel__list__item:last-child {
          border-color: transparent; }
        body > main .funnel__list__item .title, body > main .funnel__list__item .desc {
          line-height: 1; }
        body > main .funnel__list__item .title {
          font-size: 1.063em; }
        body > main .funnel__list__item .desc {
          color: #949193;
          font-size: 0.813em;
          font-weight: 300;
          margin-top: 14px;
          margin-bottom: 6px; }
        body > main .funnel__list__item .result {
          display: none;
          text-align: right;
          margin-top: 14px; }
    body > main .funnel__img {
      position: relative;
      width: 52%;
      height: 612.56px; }
  body > main .when {
    min-height: 671px;
    background-color: #281922;
    padding-bottom: 0; }
    body > main .when__item {
      min-height: 220px;
      margin-bottom: 29px;
      padding: 0 3.5%;
      box-sizing: border-box; }
      body > main .when__item__icon {
        width: 64px;
        height: 64px;
        margin-top: 20px;
        margin-bottom: 24px; }
  body > main .services {
    min-height: 1270px;
    background-color: #7f222e; }
    body > main .services__title {
      margin-bottom: 13px; }
    body > main .services__item {
      padding: 49px 0 44px;
      box-sizing: border-box;
      min-height: 315px;
      position: relative; }
      body > main .services__item.underline:before {
        height: 2px;
        background: #d74148; }
      body > main .services__item__label {
        width: 22.5%;
        margin-right: 1.4%;
        /*  SEEMS WEIRD -> SHOULD BE CHANGED    */ }
        body > main .services__item__label .label__icon {
          width: 102px;
          height: 102px;
          border: 1px solid #fff;
          border-radius: 50%; }
        body > main .services__item__label .label__price {
          display: none; }
          body > main .services__item__label .label__price-wrap {
            background-repeat: no-repeat;
            background-position: center center;
            height: 40px;
            position: relative;
            bottom: 36px; }
            body > main .services__item__label .label__price-wrap.price--1 {
              background-image: url(../img/services/price_with_label_1.png); }
            body > main .services__item__label .label__price-wrap.price--2 {
              background-image: url(../img/services/price_with_label_2.png); }
            body > main .services__item__label .label__price-wrap.price--3 {
              background-image: url(../img/services/price_with_label_3.png); }
      body > main .services__item__text, body > main .services__item__leave_claim {
        margin-top: 20px; }
      body > main .services__item__text {
        text-align: left;
        margin-top: 14px;
        width: 52.4%; }
        body > main .services__item__text header {
          text-transform: uppercase; }
          body > main .services__item__text header h6 {
            letter-spacing: 0.1em;
            margin-bottom: 18px; }
        body > main .services__item__text ul {
          margin: 0;
          padding: 0 40px;
          list-style-image: url("../img/services/list-image.png"); }
          body > main .services__item__text ul li {
            margin-top: 16.5px;
            font-size: 1.1em;
            line-height: 1.647; }
      body > main .services__item__leave_claim {
        background-color: transparent;
        border-width: 1px;
        border-color: #e73d34;
        border-style: solid;
        border-radius: 60px;
        height: 60px;
        font-size: 1.119em;
        font-weight: 300;
        line-height: 2; }
  body > main .cases {
    min-height: 646px;
    background-color: #281922;
    padding-top: 90px; }
    body > main .cases__title {
      position: relative;
      top: -30px;
      margin-bottom: 13px; }
      body > main .cases__title h2 {
        display: inline;
        padding: 0 2.5%;
        background: #281922; }
    body > main .cases__list--wrap {
      border: 3px solid #382631;
      padding-bottom: 68px; }
    body > main .cases__item {
      padding: 0 5.77875%;
      box-sizing: border-box; }
      body > main .cases__item__icon {
        display: inline-block;
        vertical-align: middle;
        max-width: 115.2px;
        max-height: 115.2px; }
        body > main .cases__item__icon-wrap {
          margin-left: auto;
          margin-right: auto;
          width: 128px;
          height: 128px;
          border-radius: 50%;
          background: #fafafa;
          box-sizing: border-box;
          margin-bottom: 25px;
          display: flex;
          justify-content: center;
          align-items: center; }
      body > main .cases__item__title {
        font-weight: 300;
        margin-bottom: 7px;
        min-height: 74px; }
        body > main .cases__item__title .name {
          text-transform: uppercase; }
        body > main .cases__item__title .desc {
          color: #b13031;
          letter-spacing: 0.02em;
          font-size: 0.938em; }
      body > main .cases__item__percents {
        margin-left: auto;
        margin-right: auto;
        position: relative;
        border-top-width: 2px;
        border-bottom-width: 2px;
        border-left-width: 0;
        border-right-width: 0;
        border-color: #892531;
        border-style: solid;
        width: 64%;
        height: 36px;
        color: #fafafa;
        font-size: 1.35em;
        font-weight: 300;
        line-height: 1.6;
        text-transform: uppercase;
        letter-spacing: 0.04em;
        overflow: hidden; }
        body > main .cases__item__percents:after, body > main .cases__item__percents:before {
          content: "";
          width: 36px;
          height: 36px;
          position: absolute;
          box-sizing: border-box;
          border-right: 2px solid #892531;
          border-top: 2px solid #892531; }
        body > main .cases__item__percents:before {
          left: -24px;
          transform: rotate(45deg) skew(15deg, 15deg); }
        body > main .cases__item__percents:after {
          right: -24px;
          transform: rotate(-135deg) skew(15deg, 15deg); }
      body > main .cases__item__result {
        margin-top: 13px; }
  body > main .contacts {
    min-height: 686px;
    background: url("../img/form-bkg.jpg") #1d191d no-repeat bottom right;
    position: relative; }
    body > main .contacts-wrap.popup {
      background-color: rgba(255, 255, 255, 0.3);
      position: fixed;
      top: 0;
      left: 0;
      z-index: 100;
      padding: 100px 6.07613%;
      width: 100%;
      box-sizing: border-box;
      overflow: scroll;
      height: 100%;
      opacity: 1;
      animation: popup--show 1s; }
      body > main .contacts-wrap.popup .close-form {
        display: initial; }
    body > main .contacts .close-form {
      display: none;
      position: absolute;
      width: 35px;
      height: 35px;
      top: 35px;
      right: 2.91667%;
      background: url("../img/close.png") no-repeat center center;
      transition: transform 0.1s linear; }
      body > main .contacts .close-form, body > main .contacts .close-form:hover {
        border: 0;
        outline: 0; }
      body > main .contacts .close-form:hover {
        transform: rotate(90deg); }
    body > main .contacts__title {
      margin-top: 1px;
      margin-bottom: 45px;
      padding: 0 11%; }
    body > main .contacts .form__input, body > main .contacts .form__msg, body > main .contacts .form__submit {
      border: 0; }
    body > main .contacts .form__input, body > main .contacts .form__msg {
      padding: 17px;
      color: rgba(0, 0, 0, 0.5);
      box-sizing: border-box; }
    body > main .contacts .form__input {
      margin-bottom: 30px;
      float: left;
      width: 48.54369%;
      height: 50px;
      margin-right: 2.91262%; }
      body > main .contacts .form__input:nth-child(2n) {
        margin-right: 0; }
      body > main .contacts .form__input:invalid, body > main .contacts .form__input.invalid {
        outline: 1px solid #ff1d38; }
        body > main .contacts .form__input:invalid, body > main .contacts .form__input:invalid::placeholder, body > main .contacts .form__input.invalid, body > main .contacts .form__input.invalid::placeholder {
          color: rgba(255, 29, 56, 0.78); }
    body > main .contacts .form__msg {
      width: 100%;
      height: 200px;
      margin-bottom: 27px; }
    body > main .contacts .form__submit {
      background-color: #892531;
      width: 25.698%;
      height: 60px;
      text-transform: uppercase;
      font-size: 1.2em; }
  body > footer {
    min-height: 143px;
    padding-top: 44px;
    padding-bottom: 44px;
    box-sizing: border-box; }
    body > footer a {
      border-bottom: 1px solid transparent;
      font-size: 1.063em; }
      body > footer a:hover {
        border-bottom: 1px solid #622427; }
    body > footer .left-side a {
      display: block;
      letter-spacing: -0.01em; }
    body > footer .address {
      letter-spacing: 0; }
