$gridSize: 12 !default
$sectPadTB: 64px
$sectPadLR: 95.62 / 1366 * 100%
/*  common styles   */

@font-face
    font-family: Roboto
    font-weight: 100
    src: url('../fonts/Roboto-Thin.ttf')
@font-face
    font-family: Roboto
    font-weight: 300
    src: url('../fonts/Roboto-Light.ttf')
@font-face
    font-family: Roboto
    font-weight: 900
    src: url('../fonts/Roboto-Bold.ttf')

@keyframes popup_show
    0%
        opacity: 0
    100%
        opacity: 1
@keyframes popup_hide
    0%
        opacity: 1
    100%
        opacity: 0

body
    max-width: 1366px
    margin: 0 auto

    /*  GENERAL FONT */
    font-family: 'Roboto', 'Myriad Pro', sans-serif
    font-weight: lighter
    font-size: 16px
    line-height: 1
    color: #fff
p,h6,a
    font-size: 1.089em
    font-weight: 300
    line-height: 1.647
    letter-spacing: -0.005em
    margin: 0
a
    color: #fff
    &,&:visited,&:focus
        text-decoration: none
h1
    font-size: 4.3em
    font-weight: 100
    margin: 0
    letter-spacing: -0.024Em
    line-height: 1.19
    margin-left: 0.79155%
h2
    font-size: 3.6em
    letter-spacing: -0.017em
    font-weight: 100
    margin: 0
.button, .input
    transition-duration: 0.1s
    transition-timing-function: linear
.button
    transition-property: background-color, color
    height: 60px
    border-style: solid
    font-weight: 300
    &_round
        border-radius: 60px
    &:hover
        background-color: #e73d34!important
        color: #fff!important
.input
    transition-property: outline-color
    outline: 2px solid transparent
    &:hover, &:focus
        outline-color: rgba(0, 0, 0, 0.5)!important

.clr::after
    content :   ''
    clear: both
    display: table
    margin: 0
    padding: 0

.fleft 
    float: left
.fright 
    float: right
.hidden
    opacity: 0
.visible
    opacity: 1
.underline
    &:before
        content: ''
        display: block
        width: 100%
        position: absolute
        bottom: 0
    &_right:before
        left: $sectPadLR
    &_left:before
        left: -$sectPadLR


// [class^='sect_'],
// [class*=' sect_']
//     @extend .sect
.sect
    padding: $sectPadTB $sectPadLR
    box-sizing: border-box
    max-width: 1200px
    margin: 0 auto
    &__title
        text-align: center
        margin: 0 0 42px
    &_no-pad
        padding-left: 0
        padding-right: 0

/*  LIKE GRID   */
// [class^='list_'],
// [class*=' list_']
//     @extend .list
.list
    width: 100%
    > *
        float: left
        text-align: center
    &_al
        > *
            text-align: left
    &::after
        content :   ''
        clear: both
        display: table
        margin: 0
        padding: 0

.list__item
    @for $i from 1 to $gridSize
        &_#{$i}
            width: $i / $gridSize * 100%
        &_offset-#{$i}
            margin-left: $i / $gridSize * 100%
        @for $j from 1 to $gridSize
            &_#{$j}_offset-#{$i}
                width: $j / $gridSize * 100%
                margin-left: $i / $gridSize * 100%
    &_#{$gridSize}
        width: 100%
        
// its not working
// [class^='list__item_'],
// [class*=' list__item_']
//     @extend .list__item


.more
    margin-top: 35px
    display: inline-block
    &:hover
        color: rgba(255,255,255,0.8)
        cursor: pointer
    &__text
        font-size: 0.75em
        letter-spacing: 0.12em
        text-transform: uppercase
        line-height: 1
    // will be svg
    &__next
        background: url("../img/arrow.png") no-repeat center center
        width: 8px
        height: 4px
        display: block
        margin: 15px auto 0
.ul
    margin: 0
    padding: 0 40px
    list-style-image: url('../img/services/list-image.png')
    &__li
        margin-top: 16.5px
        font-size: 1.1em
        line-height: 1.647
