$gridSize: 12 !default
$sectPadTB: 64px
$sectPadLR: 85 / 1366 * 100%
/*  common styles   */

@font-face
    font-family: Roboto
    font-weight: 100
    src: url('../fonts/Roboto-Thin.ttf')
@font-face
    font-family: Roboto
    font-weight: 300
    src: url('../fonts/Roboto-Light.ttf')
@font-face
    font-family: Roboto
    font-weight: 900
    src: url('../fonts/Roboto-Bold.ttf')

@keyframes popup--show
    0%
        opacity: 0
    100%
        opacity: 1
@keyframes popup--hide
    0%
        opacity: 1
    100%
        opacity: 0

body
    /*  GENERAL FONT */
    font-family: 'Roboto', 'Myriad Pro', sans-serif
    font-weight: lighter
    font-size: 16px
    line-height: 1
    color: #fff
    p,h6,a
        font-size: 1.089em
        font-weight: 300
        line-height: 1.647
        letter-spacing: -0.005em
        margin: 0
    a
        color: #fff
        &,&:visited,&:focus
            text-decoration: none
    h1
        font-size: 4.3em
        font-weight: 100
        margin: 0
        letter-spacing: -0.024Em
        line-height: 1.19
        margin-left: 0.79155%
    h2
        font-size: 3.6em
        letter-spacing: -0.017em
        font-weight: 100
        margin: 0
    input:not([type=submit]),textarea,
    button, input[type=submit]
        transition-duration: 0.1s
        transition-timing-function: linear
    button:not(.close), input[type=submit]
        transition-property: background-color, color
        &:hover
            background-color: #e73d34!important
            color: #fff!important
    input:not([type=submit]),textarea
        transition-property: outline-color
        outline: 2px solid transparent
        &:hover, &:focus
            outline-color: rgba(0, 0, 0, 0.5)!important
.clr::after
    content :   ''
    clear: both
    display: table
    margin: 0
    padding: 0

.fleft 
    float: left


.fright 
    float: right

.hidden
    opacity: 0

.visible
    opacity: 1

.underline
    &:before
        content: ''
        display: block
        width: 100%
        position: absolute
        bottom: 0
    &--right:before
        left: $sectPadLR
    &--left:before
        left: -$sectPadLR


[class^='sect--'],
[class*=' sect--']
    @extend .sect
.sect
    padding: $sectPadTB $sectPadLR 0
    box-sizing: border-box
    &__title
        text-align: center
        margin: 0 0 42px
    &--no-pad
        padding-left: 0
        padding-right: 0

/*  LIKE GRID   */
[class^='list--'],
[class*=' list--']
    @extend .list
.list
    width: 100%
    > *
        float: left
        text-align: center
    &--l
        > *
            text-align: left
    &::after
        content :   ''
        clear: both
        display: table
        margin: 0
        padding: 0

.list__item
    @for $i from 1 to $gridSize
        &--#{$i}
            width: $i / $gridSize * 100%
        &--offset-#{$i}
            margin-left: $i / $gridSize * 100%
        @for $j from 1 to $gridSize
            &--#{$j}--offset-#{$i}
                width: $j / $gridSize * 100%
                margin-left: $i / $gridSize * 100%
    &--#{$gridSize}
        width: 100%
        
// its not working
// [class^='list__item--'],
// [class*=' list__item--']
//     @extend .list__item